*  {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

@media (max-height: 1250px), (max-width: 400) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 12.5px;
  }
}


  @media (max-height: 1050px), (max-width: 300) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 11px;
  }
}
  

@media (max-height: 850px), (max-width: 200) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 6px;
  }
}

@media (max-height: 650px), (max-width: 150) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 5px;
  }
}

@media (max-height: 450px), (max-width: 50) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 5px;
  }
}

@media (max-height: 300px), (max-width: 150) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 2.5px;
  }
}

:root {
    --h1-text-size: 8rem;
    --h1-text-color: #009de0;
    --h1-alt-text-color: ;
  
    --h2-text-size: 5rem;
    --h2-text-color: rgb(162,170,173);
    --h2-alt-text-color: ;
  
    --p-text-size: 2.25rem;
    --p-text-color: rgb(255,255,255);
    --p-alt-text-color: ;
  
    --li-order: inline-flex;
    --li-text-size: 3rem;
    --header-size: 8rem;
  
    --middle-margin-top: 2rem;
  }


@media only screen and (max-width: 1366px) {
  :root {
    --h1-text-size: 5rem;
    --h2-text-size: 3rem;
    --p-text-size: 2rem;

    --li-order: inline-flex;
    --li-text-size: 2rem;
    --header-size: 22rem;

    --middle-margin-top: 5rem;
  }
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background: grey;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(222, 233, 238);
  }




body {
  margin: 3% 0% 5% 7%;
  height: 100%;

  background-color: white;
}

main {
  margin: 6rem 0rem 0rem 10rem;
}

h1 a {
  color: var(--h1-text-color);

  font-weight: 100;
  font-size: var(--h1-text-size);
  font-family: 'Roboto Slab', serif;
}

h2 {
  color: var(--h1-text-color);

  font-weight: 100;
  font-size: var(--h2-text-size);
  font-family: 'Roboto Slab', serif;
}

ul {
  display: inline;
}

ul li {
  text-decoration: none;
  list-style: none;

}

ul li span {
    color: black;

  font-weight: 100;
  font-size: var(--li-text-size);
  font-family: 'Roboto Slab', serif;

}

ul li span a {
  text-decoration: none;
  color: black;

  font-weight: 100;
  font-size: var(--li-text-size);
  font-family: 'Roboto Slab', serif;
}

.date {
  padding-left: 5rem;
} 

.title {
  padding-left: 5rem;
}

.daynight-mode-circle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;

  z-index: 10;

  background-color: black;
}

.cycle {

  position: absolute;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  top: -.5rem;
  left: 1.5rem;

  margin-top: 0.1rem;

  background-color: white;
}

