*  {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }

.background {
  z-index: -1;
}

.content {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100vw;
}

.items {
  position: absolute;
  top: 0;
  padding: 3%;
  width: 90%;
  float: left;
  z-index: 1;
}

.hex {
  z-index: 1;
}

.hex p {
  position: absolute;
  float: right;
  padding: 1.5% 2%;
  right: 0;
  color: white;
  opacity: 66%;
}