*  {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

:root {
  --h1-text-size: 4rem;
  --h2-text-size: 2rem;
  --p-text-size: 1.5rem;

  --li-order: inline-flex;
  --li-text-size: 2.25rem;
  --header-size: 8rem;

  --middle-margin-top: 5vh;
}

@media only screen and (max-width: 1000px) {
  :root {
    --h1-text-size: 5rem;
    --h2-text-size: 3rem;
    --p-text-size: 2rem;

    --li-order: inline-flexbox;
    --li-text-size: 2.5rem;
    --header-size: 20rem;

    --middle-margin-top: 15vh;
  }
}

body {
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100vw;

  /* border: 1px solid red; */
}

.overlay-gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(30, 64, 124, 0.8), rgba(4, 30, 66, 0.8));
  z-index: -1;

  /* border: 1px solid red; */
}

.container img {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -5;

  /* border: 1px solid blue; */

}

.menu {
  height: var(--header-size);
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  /* border: 1px solid red; */
  /* background-color: grey; */
}

.menu ul {
  display: var(--li-order);

  /* border: 1px solid black; */
}

.menu ul li {
  list-style: none;
  margin-left: 4rem;
  margin-right: 4rem;

  /* border: 1px solid blue; */
}
.menu ul li a {
  font-weight: 100;
  font-size: var(--li-text-size);
  font-family: 'Roboto Slab', serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(13, 21, 27);

  padding: 0.5rem;

  /* border: 1px solid red; */
}

.menu ul li a.strong {
  color: rgb(162, 170, 173);
}


.content {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: grid;


}

.top-end {
  height: calc(99.6vh - var(--header-size));

  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px solid red; */
}

.title-name {
  height: auto;
  width: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;

  padding: 5rem 0 12rem 0;
  /* border: 1px solid purple; */
}

.content h1 u {
  font-size: var(--h1-text-size);
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 156, 222);
  


  /* border: 1px solid red; */
}

.content h2 {
  display: grid;

  font-weight: 700;
  font-size: var(--h2-text-size);
  font-family: 'Roboto Slab', serif;
  color: rgb(162,170,173);

  padding: 1rem;

  /* border: 1px solid blue; */
}

.content p {
  font-weight: 500;
  font-size: var(--h2-text-size);
  font-family: 'Roboto Slab', serif;
  color: rgb(162,170,173);
}

.mail {
  text-decoration: none;
}

.mail u {
  color: rgb(162,170,173);
  font-size: var(--h2-text-size);
}


footer {
  height: 8rem;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;


}

footer a {
  text-decoration: none;
  color: rgb(49, 77, 100);
  font-weight: 500;
  font-size: var(--h2-text-size);
  font-family: 'Roboto Slab', serif;
}







/* TRANSISTIONS CSS DATA */

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}


.nav-fade {
  transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 1;
  
}

html.is-animating .nav-fade {
  opacity: 0;
  transform: translateY(-25px);
}



/* .transition-wipe {
  transition: 0.4s;
  transform: scaleX(0);
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
} */


