  *  {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

@media (max-height: 1250px), (max-width: 400) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 12.5px;
  }
}


  @media (max-height: 1050px), (max-width: 300) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 11px;
  }
}
  

@media (max-height: 850px), (max-width: 200) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 9px;
  }
}

@media (max-height: 650px), (max-width: 150) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 7px;
  }
}

@media (max-height: 450px), (max-width: 50) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 5px;
  }
}

@media (max-height: 300px), (max-width: 150) {
  *  {
    margin: 0;
    padding: 0;
    font-size: 1px;
  }
}

:root {
  --h1-text-size: 5rem;
  --h1-text-color: rgb(0, 156, 222);
  --h1-alt-text-color: ;

  --h2-text-size: 3.5rem;
  --h2-text-color: rgb(162,170,173);
  --h2-alt-text-color: ;

  --p-text-size: 2.25rem;
  --p-text-color: rgb(255,255,255);
  --p-alt-text-color: ;

  --li-order: inline-flex;
  --li-text-size: 3.25rem;
  --header-size: 8rem;

  --middle-margin-top: 2rem;
}

@media only screen and (max-width: 1366px) {
  :root {
    --h1-text-size: 3rem;
    --h2-text-size: 2.5rem;
    --p-text-size: 2rem;

    --li-order: inline-grid;
    --li-text-size: 3rem;
    --header-size: 22rem;

    --middle-margin-top: 5rem;
  }
}


body {
  overflow-x: hidden;
} 

/* Chad Firefox */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: rgb(222, 233, 238) grey;
  display: inline-block;
  scrollbar-width: thin;
}


/* Scroll for everyone but Firefox */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: rgb(222, 233, 238);
}


.container {
  display: grid;
  width: 100vw;

  /* border: 1px solid red; */
}


.overlay-gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(30, 64, 124, 0.8), rgba(4, 30, 66, 0.8));
  z-index: -1;

  /* border: 1px solid red; */
}

.bg-image {

  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -5;

  background-size: 100%;
  background-position: center center;
  background-clip: no-clip;
  background-repeat: no-repeat;

  /* border: 1px solid blue; */

}


.menu {
  height: var(--header-size);
  max-width: 100%;

  text-align: center;
  justify-content: center;
  align-items: center;

  display: flex;
  padding-top: var(--middle-margin-top);

  /* border: 1px solid red; */
  /* background-color: grey; */
}

.menu ul {
  display: var(--li-order);

  /* border: 1px solid black; */
}

.menu ul li {
  list-style: none;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;


  /* border: 1px solid blue; */
}

.menu ul li a {
  text-decoration: none;
  font-weight: 100;
  font-size: var(--li-text-size);
  font-family: 'Roboto Slab', serif;
  color: rgb(255, 255, 255);

  padding: 0.5rem 0.25rem 0.25rem 0.25rem;

  transition-duration: 0.5s; 
  -webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  -ms-transition: all 0.5s ease; 
  transition: all 0.5s ease; 

  /* border: 1px solid red; */
}

.menu ul li a:hover {
  color: rgb(162, 170, 173);
}

.menu ul li img {
  position: relative;
  height: 4rem;
  width: 4rem;
  display: block;
  object-fit: cover;

  transition-duration: 0.45s; 
  -webkit-transition: all 0.45s ease; 
  -moz-transition: all 0.45s ease; 
  -o-transition: all 0.45s ease; 
  -ms-transition: all 0.45s ease; 
  transition: all 0.45s ease; 

  z-index: 1;

  /* border: 1px solid red; */
}

.menu ul li img:hover {
  transform: scale(1.15);
}

.menu ul li a.strong {
  color: rgb(162, 170, 173);
}

.menu-active {
  border-bottom: .32rem solid rgb(162, 170, 173);
}


.content {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: grid;

  /* border: 1px solid red; */
}

.top-end {
  height: calc(100vh - var(--header-size) - var(--middle-margin-top));

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  /* border: 1px solid red; */
}

.title-name {
  height: 40%;
  width: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;

  padding: 6rem 0 12rem 0;
  /* border: 1px solid purple; */
}

.content h1 {
  font-size: var(--h1-text-size);
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 156, 222);
  


  /* border: 1px solid red; */
}

.content h1 u {
  font-size: var(--h1-text-size);
  font-family: 'Open Sans', sans-serif;
  color: var(--h1-text-color);
  


  /* border: 1px solid red; */
}

.content h2 {
  display: grid;

  font-weight: 700;
  font-size: var(--h2-text-size);
  font-family: 'Roboto Slab', serif;
  color: var(--h2-text-color);

  padding: 1rem;

  /* border: 1px solid blue; */
}

.content p {
  font-weight: 500;
  font-size: var(--p-text-size);
  font-family: 'Roboto Slab', serif;
  color: rgb(162,170,173);
}

.more-below {
  opacity: 50%;

  position: absolute;
  bottom: 3rem;

  /* border: 1px solid red; */
}

.more-below p {
  font-size: var(--p-text-size);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.item-content {
  padding: 2rem 5rem 2rem 5rem;
  background: rgb(30, 64, 124);

  /* border: 1px solid blue; */
}

.item-content h2 {
  font-size: var(--h2-text-size);
  color: var(--h2-text-color);
}

.item-content p {
  font-size: var(--p-text-size);
  color: var(--p-text-color);
  padding: 3rem 5rem 1rem 5rem;
  text-align: left;
}

.mail {
  text-decoration: none;
  list-style: none;
  padding: 3rem 0 3rem 0;
}

.mail u {
  color: var(--p-text-color);
  font-size: var(--h2-text-size);
}


footer {
  height: 8rem;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  z-index: 1;
}

footer a {
  text-decoration: none;
  color: rgb(49, 77, 100);
  font-weight: 500;
  font-size: var(--h2-text-size);
  font-family: 'Roboto Slab', serif;
}


/* TRANSISTIONS CSS DATA */

.transition-fade {
  transition: .55s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.transition-fade-port {
  transition: .55s;
  opacity: 1;
}


.nav-fade {
  transition: 2.75s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 1;
  
}

html.is-animating .nav-fade {
  opacity: 0;
  transform: translateY(-25px);
}

.transition-wipe {
  transition: .55s;
}

html.is-animating .transition-wipe {
  transform: translateX(50px);
}


/* .transition-wipe {
  transition: 0.4s;
  transform: scaleX(0);
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
} */


